@charset "UTF-8";


/* TELAS PEQUENAS */


:root
{
    --study-color-01: var(--color-study-python-01);
    --study-color-02: var(--color-study-python-02);
    --study-color-03: var(--color-study-python-03);
}
